{{#if products.length}}
<table class="table table-striped mb-5">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th class="text-right">Image</th>
    </tr>
  </thead>
  <tbody id="products">
      {{#each products}}
        <tr>
          <td><strong>{{this.title}}</strong></td>
          <td>${{this.price}}</td>
          <td class="text-right"><img src="{{this.thumbnailUrl}}" alt="{{this.title}}" style="max-width:30px;"></td>
        </tr>
      {{/each}}
  </tbody>
</table>
{{else}}
<h6 class="mb-5">No hay productos</h6>
{{/if}}